body {
    margin: 0;
    font-family: Amatic SC;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
/*    overflow: hidden;*/
    background-color: #333;
    height: 55px;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.8;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 27px;
} 

li a:hover {
    background-color: #111;
}

#header-background {
    background-image: url("../image/baking-hd1.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    background-size: cover;
    min-height: 90%;
    z-index: 1;
}
#mySidenav a {
    position: absolute;
    right: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    border-radius: 15px 0px 0px 15px;
    position: fixed;
}

#mySidenav a:hover {
    right: 0;
}

#facebook {
    top: 60px;
    background-color: black;
    opacity: 0.8;
}

#instagram {
    top: 140px;
    background-color: black;
    opacity: 0.8;
}

#shopee {
    top: 220px;
    background-color: black;
    opacity: 0.8;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  background-color: #CD5C5C;
  color: white;
  padding: 16px 32px;
  font-family: 'Mali', cursive;
  font-size: 15px;
  border-radius: 10px;
}
#name {
  font-size: 20px;
  font-family: 'Mali', cursive;
}

.list {
  display: flex;
  flex-wrap: wrap;
}
footer {
    padding: 10px;
    background-color: #585858;
    color: white;
}
form input[type="text"]:focus{
    width:400px;
    background-color:white;
    color: #696969;
}
nav .search-bar {
  float: right;
  margin-right: 5px;
  padding-top: 7px;
  z-index: 2;
}

nav .search-bar button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #DCDCDC;
  font-size: 17px;
  border: none;
  cursor: pointer;
  z-index: 2;
}
nav .search-bar button:hover {
  background:#ADD8E6 ;
}

#facebook {
    top: 60px;
    background-color: black;
    opacity: 0.8;
}

#instagram {
    top: 140px;
    background-color: black;
    opacity: 0.8;
}

#shopee {
    top: 220px;
    background-color: black;
    opacity: 0.8;
}

.right {
    flex: 33.3%;
}
.center {
    flex: 33.3%;
}
.left {
    flex: 33.3%;
}
.div5 {
    background-color: #000000;
    opacity: 0.9;
}

#header-background2 {
    background-image: url("../image/milktea2.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    background-size: cover;
    min-height: 90%;
}
#list1 {
    list-style-type: disc; 
}
#header-background3 {
    background-image: url("../image/food-pizza-baking1.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    background-size: cover;
    min-height: 90%;
}
#header-background4 {
    background-image: url("../image/cupcake32.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    background-size: cover;
    min-height: 90%;
}
#header-background5 {
    background-image: url("../image/donut5.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    background-size: cover;
    min-height: 90%;
}

#img {
     display: block;
    margin-left: auto;
    margin-right: auto;
}
section {
    display: flex;
}
aside {
    flex: 1;
    background-color: #FFFFFF;
    padding: 20px;
}
article {
    flex: 3;
    background-color: #1D0404;
    padding: 20px;
    color: white;
}
.div1 {
    padding: 35px;
    background-color: #D9A056;
}
.div2 {
    display: flex;
    flex-wrap: wrap;
}
.div3 {
    flex: 50%;
}
.div4 {
    flex: 50%;
}

#h1 {
    margin-top: 0;
    font-size: 85px;
    color: white;
    text-align: center;
}
#h2 {
    margin-top: 0;
    font-size: 65px;
    color: white;
    text-align: center;
}

#info {
    height: 50px;
    width: 70%;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
  font-weight: bold;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd; border-radius: 10px}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {}

.product-quantity {
	float: left;
	width: 13%;
	text-align: center;
}

#submit1 {
  background-color: #444;
}
#submit1:hover {
  background-color: #5F9EA0;
}

.mySlides {display:none;}

.checked {
  color: black;
}
textarea {
    width: 85%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
/*    margin-top: 6px;
    margin-bottom: 16px;*/
    resize: vertical;
    margin: 10px 70px 16px 70px;
    background-color: #D9A056;
    border-width: 1px;
    border-color: black;
}
.add-input {
    font-family: Amatic SC;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #D9A056;
    border-width: 1px;
    border-color: black;
}

::placeholder {
    color : black;
}